body {
    font-family: Arial, sans-serif;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007BFF;
    color: rgb(95, 80, 80);
}

.product-card {
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007BFF;
}

.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-section img {
    width: 100%;
    transition: transform 0.5s ease;
}

.hero-section:hover img {
    transform: scale(1.1);
}

.footer {
    transition: background-color 0.3s ease;
}

.footer:hover {
    background-color: #f1f1f1;
}
